/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

body.home,
body.page,
body.page-speaking {
  .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 67% 17%;
  }
}

.hero.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 67%;
}

// Backgrounds (use Bulma has-background-color) --------------------
.bg-light-bis {
  background: $color__light-bis;
}

.bg-success-dark {
  background: $color__success;
}

// Containers ------------------
.container-sm {
  margin: 0 auto;
  max-width: $container-width--sm;
}

.container-m {
  margin: 0 auto;
  max-width: $container-width--m;
}

.content-wrapper {
  padding: $base__space-unit;
}

article .entry-meta {
  margin-top: $space-unit--xs;
}

.content-wrapper {
  @include bp(tablet) {
    padding: $space-unit--lg;
  }

  @include bp(desktop-1920) {
    padding: $space-unit--xxl;
  }
}

.fixed-header {
  margin-top: $mobile__menu-height;

  @include bp($mobile__menu-bp) {
    margin-top: $desktop__menu-height;
  }
}

// Helpers -----------------------
.mobile-wrapper {
  @include bp($mobile__menu-bp) {
    display: none;
  }
}

.desktop-wrapper {
  display: none;

  @include bp($mobile__menu-bp) {
    display: block;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: 0 auto;
}

ul.list-style-none {
  list-style: none !important;
  margin: 0 !important;
}

.anchor {
  display: block;
  position: relative;
  top: -$mobile__menu-height;
  visibility: hidden;

  @include bp($mobile__menu-bp) {
    top: -$desktop__menu-height;
  }
}

/* Source: https://a11y-101.com/development/skip-link */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
//background
section.sticky-background.bg-image {
  position: relative;
  z-index: 1;
}

.sticky-background,
.normal-background {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}

.sticky-background {
  background-attachment: fixed;
  background-size: cover;
  @supports (-webkit-overflow-scrolling: touch) {
    background-attachment: scroll;
  }
}

.normal-background {
  background-size: cover;
  z-index: -1;
  margin-top: -18rem;
  @include bp(tablet) {
    margin-top: -11rem;
  }
  @include bp(desktop) {
    margin-top: -12rem;
  }
}

//info-gallery

section.info-gallery {
  position: relative;
  .info-gallery-graphic {
    @include bp(tablet) {
      position: absolute;
      top: -8%;
      right: -15%;
    }

    @include bp(desktop-1280) {
      top: -7%;
      right: -21%;
    }
    img {
      width: 400px;
      @include bp(tablet) {
        width: 600px;
      }
      @include bp(desktop-1280) {
        width: 100%;
      }
    }
  }
}

//FAQ
.schema-faq-section {
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
}

.schema-faq-section.faq-closed::after {
  content: url('/wp-content/themes/ad-lucem/assets/svg/arrow-down.svg');
  position: absolute;
  top: 0;
  right: 0;
}

.schema-faq-section.faq-opened::after {
  content: url('/wp-content/themes/ad-lucem/assets/svg/arrow-up.svg');
  position: absolute;
  transition: 0.3s;
  top: 0;
  right: 0;
}

strong.schema-faq-question {
  font-weight: normal;
}
p.schema-faq-answer {
  margin-top: 20px;
  line-height: 24px;
}

//Accordion section
.accordion-pair {
  width: 100%;
  border-bottom: 1px solid $color__info-light;
}
.accordion-title {
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.accordion-detail {
  padding: 0 0px 32px;

  @include bp(desktop-1280) {
    width: 60%;
  }
}

.accordion-closed {
  &::after {
    content: url('/wp-content/themes/ad-lucem/assets/svg/arrow-down.svg');
    position: absolute;
    right: 5%;
    @include bp(tablet) {
      right: 0%;
    }

    @include bp(desktop-1280) {
      content: '+ SHOW MORE';
      font-size: 15px;
      line-height: 30px;
      font-style: italic;
      font-weight: $font__weight-semibold;
    }
  }
  &:hover:after {
    color: $color__info-light;
  }
  &:hover {
    cursor: pointer;
  }
}

.accordion-opened {
  &::after {
    content: url('/wp-content/themes/ad-lucem/assets/svg/arrow-up.svg');
    position: absolute;
    transition: 0.3s;
    right: 5%;
    @include bp(tablet) {
      right: 0%;
    }
    @include bp(desktop-1280) {
      content: '- SHOW LESS';
      font-size: 15px;
      line-height: 30px;
      font-style: italic;
      font-weight: $font__weight-semibold;
    }
  }
  &:hover:after {
    color: $color__info-light;
  }

  &:hover {
    cursor: pointer;
  }
}

//List-with-Graphic
.lg-graphic {
  width: 300px;
  right: -38%;
  top: 1%;
  @include bp(tablet) {
    position: absolute;
    width: 400px;
    right: 56%;
    top: 26%;
  }
  @include bp(desktop-1280) {
    top: 32%;
    right: 74%;
  }
}

//List Graphic w/h Mountain
.lg-graphic.mountain {
  @include bp(tablet) {
    position: absolute;
    width: 400px;
    right: 77%;
    top: 76%;
  }
  @include bp(desktop-1280) {
    right: 76%;
    top: 66%;
  }
}

//Social-Icons
.popout-menu {
  .social-icons-wrapper.is-flex {
    justify-content: space-between;
    width: 117px;
    margin-top: 59px;
  }
}
.footer-contact-wrapper {
  .social-icons-wrapper.is-flex {
    justify-content: space-between;
    width: 100px;
  }
}

.top-bar {
  .social-icons-wrapper.is-flex {
    width: 72px;
  }
}
