/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  min-height: 30vw;
  h3,
  h1 {
    text-shadow: $text-shadow;
    @include bp(tablet) {
      margin-left: 4rem;
    }
  }
}
