/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.text-overflow p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cards {
  h3.is-capitalized.mb-3 {
    margin: 0.75rem 0;
    position: relative;
  }

  h3.is-capitalized.mb-3:after {
    content: '';
    width: 30px;
    height: 3px;
    background: $color__info-light;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -15px;
  }

  @include bp(desktop-1080) {
    padding-bottom: 217px;
  }

  .container {
    @include bp(desktop-1080) {
      margin-top: -450px;
    }
  }

  .column.is-4.has-background-secondary.m-3 {
    padding: 2.1rem;
    @include bp(tablet) {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }
    ul {
      text-align: left;
      li {
        font-family: $font__pre;
        line-height: 2;
      }
    }
  }

  .columns.is-justify-content-center
    .column.is-4.has-background-secondary.m-3:last-child {
    p.min-height-260 {
      height: 0;
      margin: 0;
    }
  }

  .columns.is-justify-content-center
    .column.is-4.has-background-secondary.m-3:first-child,
  .columns.is-justify-content-center
    .column.is-4.has-background-secondary.m-3:last-child {
    @include bp(tablet) {
      position: relative;
      top: -12vw;
    }
    @include bp(desktop-1280) {
      top: -7vw;
    }
  }
}
