// Intro
.pb-extra {
  padding-bottom: 154vw;
  @include bp(tablet) {
    padding-bottom: 79vw;
  }
  @include bp(desktop-1080) {
    padding-bottom: 46vw;
  }
  @include bp(desktop-1280) {
    padding-bottom: 23vw;
  }
  @include bp(desktop-1440) {
    padding-bottom: 24rem;
  }
}
//Intro with pb-extra
section.intro.pb-extra {
  .intro-graphic.right {
    z-index: 0;
    position: absolute;
    left: 0%;
    @include bp(tablet) {
      right: 65%;
    }
    @include bp(desktop-1280) {
      bottom: 34%;
      left: 65%;
    }
  }
}
section.intro {
  position: relative;
  .intro-graphic.left.with-img {
    position: unset;
    img {
      height: 250px;
      margin-left: 70%;
      @include bp(tablet) {
        margin-left: 0;
        height: 350px;
      }
      @include bp(desktop-1280) {
        height: 387px;
        margin-left: 0;
      }
    }
    @include bp(tablet) {
      position: absolute;
      left: -196px;
      bottom: -16%;
    }
    @include bp(desktop-1280) {
      left: -225px;
      bottom: 0%;
    }
  }

  .container.content-wrapper.column.is-6 {
    margin-bottom: 16rem;
    position: relative;
  }
  .intro-graphic.right {
    z-index: 0;
    position: absolute;
    left: 0%;
    @include bp(tablet) {
      bottom: 4%;
      left: 46%;
    }
    @include bp(desktop-1280) {
      bottom: 8%;
      left: 59%;
    }
  }
  .intro-graphic.left {
    position: absolute;
    left: -12%;
    @include bp(tablet) {
      bottom: 5%;
      left: -4%;
    }
    @include bp(desktop-1280) {
      bottom: 8%;
    }
  }
  .intro-graphic.none {
    display: none;
  }
}

//Section-cards
section#services .container {
  margin-top: -140vw;

  @include bp(tablet) {
    margin-top: -63vw;
  }

  @include bp(desktop-1080) {
    margin-top: -30vw;
  }
  @include bp(desktop-1280) {
    margin-top: -27vw;
  }
  @include bp(desktop-1440) {
    margin-top: -24rem;
  }
}

.pb-extra-sm {
  padding-bottom: 20rem;

  @include bp(tablet) {
    padding-bottom: 12rem;
  }
  @include bp(desktop-1080) {
    padding-bottom: 23rem;
  }
}

//Section Modal
.modal {
  display: block;
  transform: translate(0, 100%);
  transition: transform 0.3s;
  .modal-card {
    max-height: calc(100vh - 20px);
    width: 95%;
    @include bp(tablet) {
      width: 58vw !important;
    }
    .modal-card-body-inner-px {
      @include bp(desktop-1280) {
        padding: 0 2.5rem;
      }
    }
  }
}

.modal.is-active {
  transform: translate(0, 0%);
  transition: transform 0.3s;
}

.modal-card {
  margin-top: 131px;
  margin-bottom: 109px;
  border-radius: 10px;
  section.modal-card-body {
    position: relative;
    a.modal-close.is-shadowless {
      position: absolute;
      top: 42px;
      right: 32px;
      svg {
        fill: $color__info-light;
        &:hover {
          fill: $color__info-dark;
        }
      }
      &:hover {
        background-color: transparent;
      }
    }
    .modal-close::before,
    .modal-close::after {
      display: none;
    }
  }
}

//Section-orientation
//Orientation with bg-image
section#orientation.bg-image {
  margin-bottom: 0;
  .columns.orientation-contents {
    margin-top: 0;
    @include bp(tablet) {
      margin-top: -50px;
      padding-bottom: 0;
    }
    @include bp(desktop-1280) {
      margin-top: -69px;
    }
    .text-container {
      .text-content {
        p {
          @include bp(tablet) {
            height: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          @include bp(desktop-1280) {
            height: 173px;
          }
          @include bp(desktop-1440) {
            height: 245px;
          }
        }
      }
    }
    .image-container {
      margin: 0;
      img {
        height: 100%;
        width: auto;

        @include bp(tablet) {
          height: 517px;
          margin: -10rem 3rem 0 0;
        }
        @include bp(desktop-1280) {
          height: 572px;
          margin: -9rem 0 0 0;
        }
      }
    }
  }
}

//Orientation w/o bg-image
section#orientation {
  position: relative;
  .columns.orientation-contents.zero {
    margin-top: 0;
  }
  .columns.orientation-contents {
    flex-direction: column;
    align-items: center;
    margin-top: -202px;
    @include bp(tablet) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: -172px;
    }
    @include bp(desktop-1280) {
      margin-top: -202px;
    }
    @include bp(desktop-1920) {
      margin-top: -230px;
    }
    .left {
      @include bp(tablet) {
        order: 1 !important;
      }
    }
    .right {
      @include bp(tablet) {
        order: 2 !important;
      }
    }
    .column.image-container.top {
      order: 1;
    }
    .column.text-container .top {
      order: 1;
    }
    .column.text-container.bottom {
      order: 2;
    }
    .column.image-container.bottom {
      order: 2;
    }
    .image-container.right {
      text-align: right;
    }
    .image-container.left {
      text-align: left;
    }
    .text-container {
      .text-content {
        p {
          @include bp(tablet) {
            width: 365px;
          }
          @include bp(desktop-1280) {
            width: 472px;
          }
        }
      }
    }
    .image-container {
      img {
        height: 319px;
        width: auto;
        object-fit: cover;
        @include bp(tablet) {
          height: 425px;
        }
        @include bp(desktop-1280) {
          height: 540px;
          width: 435px;
        }
      }
    }
  }

  div#without-graphic img {
    @include bp(tablet) {
      margin-top: 1rem;
    }
    @include bp(desktop-1280) {
      margin-top: 0rem;
    }
  }
  .stl-graphic {
    z-index: 0;
    position: absolute;
    right: -38%;
    @include bp(tablet) {
      left: -7%;
    }
    @include bp(desktop-1280) {
      left: -6%;
      bottom: -8%;
    }
  }
}

//Contact form
.has-background-dusk {
  background: $color__success-dark;
  h2 {
    color: $color__light !important;
  }
}

//section-list
.list-items {
  ul {
    li {
      line-height: 22px;
    }
  }
}

//section-contact-page &  Map
.map {
  position: relative;
  z-index: 9;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

  @include bp(tablet) {
    margin-top: -100px;
  }

  @include bp(desktop) {
    margin-top: -200px;
  }
}
.section-contact {
  .icon-pin {
    position: relative;
    top: -24px;
  }
  .address {
    overflow-wrap: break-word;
    max-width: 280px;
    display: inline-block;
  }
  .wpforms-container {
    input,
    textarea,
    select,
    .choices {
      box-shadow: $box-shadow--1 !important;
      -webkit-appearance: none;
      &::placeholder {
        font-family: $font__pre;
      }
    }
  }
  .graphic-contact-page {
    z-index: 0;
    img {
      width: 616px;
      position: relative;
      top: 43px;
      left: -218px;
    }
  }
}

div.wpforms-container-full .wpforms-form .wpforms-field-description,
div.wpforms-container-full .wpforms-form .wpforms-field-limit-text {
  display: none;
}

//News Articles section
section#news-cards {
  position: relative;
  .column.news-card-article {
    padding: 33px 30px;
  }
  .news-article-graphic {
    position: absolute;
    bottom: 0%;
    left: -2%;

    @include bp(tablet) {
      left: 42%;
    }
    @include bp(desktop-1280) {
      left: 57%;
    }
  }
}

//Past Event section : List Graphic
ul.lg-items li {
  font-family: $font__pre;
}
//List Columns
.list-items ul li {
  font-family: $font__pre;
  margin-bottom: 5px;
}

//Section Orientation
.text-content ul li {
  font-family: $font__pre;
}
