/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.hero {
  padding-bottom: 0 !important;
  .py-6 {
    padding-bottom: 0 !important;
    .text-container {
      @include bp(desktop-1280) {
        padding-top: 6rem;
      }
      h3,
      h1 {
        color: $color__dark;
        text-shadow: $text-shadow;

        @include bp(desktop-1280) {
          padding-left: 1rem;
        }
        span {
          background: $color__light-bis;
          opacity: 0.8;
          padding: 0 1rem;
          white-space: break-spaces;
        }
      }
    }
  }
}
