// Intro
.pb-extra {
  padding-bottom: 180vw;
  @include bp(tablet) {
    padding-bottom: 79vw;
  }
  @include bp(desktop-1080) {
    padding-bottom: 46vw;
  }
  @include bp(desktop-1280) {
    padding-bottom: 23vw;
  }
  @include bp(desktop-1440) {
    padding-bottom: 24rem;
  }
}
.intro {
  .container.content-wrapper.column.is-6 {
    margin-bottom: 16rem;
    position: relative;
  }
  .intro-graphic {
    z-index: 0;
    position: absolute;
    bottom: -16%;
    left: 0%;
    @include bp(tablet) {
      bottom: -16%;
      right: 65%;
    }
    @include bp(desktop-1280) {
      bottom: 4%;
      left: 72%;
    }
  }
  .intro-graphic.left {
    @include bp(desktop) {
      bottom: -4%;
      left: -60%;
    }
  }
}

//Section-cards
section#services .container {
  margin-top: -140vw;

  @include bp(tablet) {
    margin-top: -63vw;
  }

  @include bp(desktop-1080) {
    margin-top: -30vw;
  }
  @include bp(desktop-1280) {
    margin-top: -31vw;
  }
  @include bp(desktop-1440) {
    margin-top: -24rem;
  }
}

.pb-extra-sm {
  padding-bottom: 28rem;

  @include bp(tablet) {
    padding-bottom: 20vw;
  }
  @include bp(desktop-1080) {
    padding-bottom: 23rem;
  }
}

//Section Modal
.modal-card {
  margin-top: 131px;
  margin-bottom: 109px;
  border-radius: 10px;
  section.modal-card-body {
    position: relative;
    a.modal-close.is-shadowless {
      position: absolute;
      top: 42px;
      right: 42px;
      svg {
        fill: $color__info-light;
        &:hover {
          fill: $color__info-dark;
        }
      }
      &:hover {
        background-color: transparent;
      }
    }
    .modal-close::before,
    .modal-close::after {
      display: none;
    }
  }
}

//Section-orientation
//Orientation with bg-image
section#orientation.bg-image {
  margin-bottom: 0;
  .container {
    margin-top: 0;
    .image-container {
      img {
        @include bp(tablet) {
          margin-top: -5vw;
          width: 90%;
          height: auto;
        }
        @include bp(desktop) {
          margin-top: -14vw;
        }
      }
    }
  }
}

//Orientation w/o bg-image
section#orientation .container {
  margin-top: -90vw;
  @include bp(tablet) {
    margin-top: -6vw;
  }
  @include bp(desktop-1280) {
    margin-top: 0vw;
  }
}
.section-orientation {
  margin-bottom: 10vw;
  @include bp(tablet) {
    margin-bottom: 0;
  }
  .is-flex {
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include bp(tablet) {
      flex-direction: row;
      width: 100%;
    }
    @include bp(desktop-1280) {
      align-items: flex-start;
    }
  }
  .left {
    order: 2;
    margin-top: 36px;
    @include bp(tablet) {
      order: 1;
      margin-top: 0;
    }
  }
  .right {
    order: 1;
    @include bp(tablet) {
      order: 2;
    }
  }
  .container {
    position: relative;
    padding-top: 0;
    .columns {
      .left {
        @include bp(desktop) {
          height: 100%;
          width: 60%;
          object-fit: cover;
        }
      }

      .image-container {
        margin: 6rem auto 0;
        img {
          min-height: 80vw;
          width: auto;
          margin: 4rem 0 0 0;
          object-fit: cover;
          @include bp(tablet) {
            min-height: 50vw;
            width: 100%;
            height: auto;
            margin: -16rem 0 0 2vw;
          }
          @include bp(desktop-1280) {
            min-height: 35vw;
            width: 82%;
            margin-left: 8vw;
            margin-top: -16rem;
          }
        }
      }
    }
    .stl-graphic {
      z-index: 0;
      position: absolute;
      bottom: -12%;
      right: -18%;
      @include bp(tablet) {
        bottom: -18%;
        right: 38%;
      }
      @include bp(desktop-1280) {
        bottom: -29%;
        left: -6%;
      }
      @include bp(desktop-1440) {
        bottom: -15%;
        left: -6%;
      }
    }
  }
}

//Contact form
.has-background-dusk {
  background: $color__success-dark;
  h2 {
    color: $color__light !important;
  }
}

//section-list
.list-items {
  ul {
    li {
      line-height: 22px;
    }
  }
}

//section-contact-page &  Map
.map {
  height: 450px;
  position: relative;
  z-index: 9;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);

  @include bp(tablet) {
    margin-top: -100px;
  }

  @include bp(desktop) {
    margin-top: -200px;
  }
}
.section-contact {
  .icon-pin {
    position: relative;
    top: -24px;
  }
  .address {
    overflow-wrap: break-word;
    max-width: 280px;
    display: inline-block;
  }
  .wpforms-container input,
  .wpforms-container textarea,
  .wpforms-container select {
    box-shadow: $box_shadow;
    &::placeholder {
      font-family: $font__pre;
    }
  }
  .graphic-contact-page {
    z-index: 0;
    img {
      width: 616px;
      position: relative;
      top: 43px;
      left: -218px;
    }
  }
}
